@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.content {
  padding: responsive(40, 100) 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: responsive(24, 40);
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: responsive(16, 24);
  }

  &__banner {
    position: relative;
    height: toRem(400);
    opacity: 0;
    transform: translateX(toRem(-100));
    transition: var(--transition);
    animation: slideInLeft 0.8s ease-out forwards;
    animation-delay: 0.5s;

    &-photo {
      overflow: hidden;

      img {
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  &__picture {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      border-radius: toRem(20);
    }
  }

  &__info {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    border-radius: toRem(8);
    padding: toRem(15);
    background-color: var(--bg-opasity);
    transform: translate(-50%, -50%);
    gap: toRem(12);

    &-button {
      border: toRem(2) solid transparent;
      border-radius: toRem(7);
      padding: toRem(5) toRem(10);

      // height: 100%;
      font-family: var(--font-family);
      font-weight: 600;
      color: var(--color-white);
      background-color: var(--color-red);
      transition: var(--transition);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: responsive(16, 24);
  }
}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@include mq('lg') {
  .content {
    &__info {
      justify-content: center;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
}
