:root {
  --font-family: 'Poppins', sans-serif;
  --app-height: 100vh;

  // Z-INDEX
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
  --z-index-6: 6;

  // COLORS
  --color-white: #fff;
  --color-black: #030303;
  --color-red: #cf0e48;
  --color-aqua: #0ff;

  // style
  --transition: all 0.3s ease;
  --bg-opasity: rgb(0 0 0 / 25%);
}
