<header class="header">
  <div class="container header__container">
    <a href="" class="header__logo">
      <img src="https://static.inpcdn.com/108,1b56f7008ebe22.webp" alt="" />
    </a>

    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="" class="header__link"> Home </a>
        </li>
        <li class="header__item">
          <a href="" class="header__link"> Review </a>
        </li>
        <li class="header__item">
          <a href="" class="header__link"> Bonus </a>
        </li>
        <li class="header__item">
          <a href="" class="header__link"> Spins </a>
        </li>
      </ul>
    </nav>

    <div class="header__box">
      <div class="header__buttons">
        <button class="header__button">Registration</button>
        <button class="header__button">Login</button>
      </div>

      <button class="header__burger">
        <span class="header__burger-span"></span>
        <span class="header__burger-span"></span>
        <span class="header__burger-span"></span>
      </button>
    </div>
  </div>
</header>
